<ion-header>

  <ion-navbar>
    <ion-title>{{exercise.name}}</ion-title>
    <ion-buttons>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentActionSheet(exercise)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>

    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="exerciseModel">
      <ion-segment-button value="image">
        Image
      </ion-segment-button>
      <ion-segment-button value="muscle">
        Muscle
      </ion-segment-button>
      <ion-segment-button value="description">
        Description
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="exerciseModel" padding>
    <div *ngSwitchCase="'image'">
      <ion-slides autoplay="1000" loop="true" speed="5">
        <ion-slide>
          <img src="assets/images/{{ onReplaceText(exercise.name)}}-large-1.png">
        </ion-slide>
        <ion-slide>
          <img src="assets/images/{{ onReplaceText(exercise.name)}}-large-2.png">
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngSwitchCase="'muscle'">
    </div>

    <div *ngSwitchCase="'description'">
      <p [innerHTML]="exercise.summary" *ngIf="exercise.summary"></p>
      <p [innerHTML]="exercise.description" *ngIf="exercise.description"></p>
      <div *ngIf="exercise.tips?.length > 0">
        <h2>Tip</h2>
        <ol>
          <li *ngFor="let tip of exercise.tips"> {{ tip }}</li>
        </ol>
      </div>
      <ion-grid>
        <ion-row *ngIf="exercise.type">
          <ion-col><strong>Type</strong></ion-col>
          <ion-col>: {{exercise.type}}</ion-col>
        </ion-row>
        <ion-row *ngIf="exercise.secondary?.length > 0">
          <ion-col><strong>Secondary</strong></ion-col>
          <ion-col>: {{exercise.secondary}}&nbsp;</ion-col>
        </ion-row>
        <ion-row *ngIf="exercise.equipment?.length > 0">
          <ion-col><strong>Equipment</strong></ion-col>
          <ion-col>: {{exercise.equipment}}&nbsp;</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
