<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>{{group.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="group?.exercises">
    <button ion-item (click)="onLoadExercise(d)" *ngFor="let d of group.exercises">
      <ion-thumbnail item-left>
        <img src="assets/images/{{onReplaceText(d.name)}}-large-1.png">
      </ion-thumbnail>
      <h2>{{d.name}}</h2>
    </button>
  </ion-list>
</ion-content>
